<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>Actualizar Vehículo</title>
    <link rel="stylesheet" href="../static/styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/vehiculos/register">Registrar Vehículo</a></li>
          <li><a href="/vehiculos/list">Lista de Vehículos</a></li>
        </ul>
      </nav>
    </header>
    <h1>Actualizar Vehículo</h1>
    <form id="updateVehicleForm">
      <input type="hidden" id="vehicleId" />

      <label for="marca">Marca:</label>
      <input type="text" id="marca" name="marca" required /><br />

      <label for="modelo">Modelo:</label>
      <input type="text" id="modelo" name="modelo" required /><br />

      <label for="placa">Placa:</label>
      <input type="text" id="placa" name="placa" required /><br />

      <label for="matricula">Matrícula:</label>
      <input type="text" id="matricula" name="matricula" required /><br />

      <label for="estado">Estado:</label>
      <input type="text" id="estado" name="estado" required /><br />

      <button type="submit">Actualizar</button>
    </form>

    <script type="module" src="../static/updateVehiculo.js"></script>
  </body>
</html>
