<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>CRUD Vehículos</title>
		<link rel="stylesheet" href="../static/styles.css" />
	</head>

	<body>
		<header>
			<nav>
				<ul>
					<li><a href="/">Registrar Vehículo</a></li>
					<li><a href="/listaVehiculos">Lista de Vehículos</a></li>
				</ul>
			</nav>
		</header>
		<h1>Vehículos Registrados</h1>
		<table id="vehiclesTable">
			<thead>
				<tr>
					<th>ID</th>
					<th>Marca</th>
					<th>Modelo</th>
					<th>Placa</th>
					<th>Matrícula</th>
					<th>Estado</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>

		<script type="module" src="../static/funciones.js"></script>
	</body>
</html>
